.black {
  color: #2e2f42;
}
.logo:hover {
  background-color: #404bbf;
}
.logo:focus {
  background-color: #404bbf;
}
.title-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.contacts {
  font-style: normal;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: underline;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style: none;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07143;
}
button {
  cursor: pointer;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.main-title {
  background-color: #2e2f42;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.main-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}
p {
  color: #434455;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.main-text {
  color: #434455;
}
.main-team {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-foto {
  background-color: #ffffff;
}
footer {
  background-color: #2e2f42;
}
.white {
  color: #ffffff;
}
.footer-text {
  color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
